.containere{
    width: 100%;
    display:inline-flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height{
    min-height: 95%;
}

.start{
    justify-content: start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}